.container-modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 999;
}

.menu-side {
    position: absolute;
    top: 0;
    right: 0;

    width: 20%;
    height: 100vh;

    background: #0B2A4A;

    padding: 15px;

    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 0 30px;
}

.menu-side {
    transform: translateX(100%);
    animation: slideIn 0.3s ease forwards;
}

@keyframes slideIn {
    to {
        transform: translateX(0);
    }
}

.close-modal {
    font-size: 25px;
    background-color: transparent;
    border: 1px solid transparent;
    color: #E24A17;
    cursor: pointer;
}
.close-modal:hover{
    filter: brightness(1.50);
}

.buttonMenuSideModal {
    width: 100%;
    padding: 15px;
    border: none;
    border-bottom: 1px solid #E24A17;
    color: white;
    background-color: transparent;
    cursor: pointer;
}
.buttonMenuSideModal:hover{
    filter: brightness(1.70);
}

.buttonExitModal {
    width: 100%;
    padding: 15px;
    border: none;
    border-bottom: 1px solid #E24A17;
    background-color: transparent;
    margin-top: 100%;
    color: white;
    gap: 3px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.buttonExitModal:hover{
    filter: brightness(1.75);
}