.container-home {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column; 
  background-color: #d8d9da;
  gap: 20px;
}

.field-main {
  height: 40%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 50px;
  margin: auto;
  background-color: #0B2A4A;
  border: 1px solid transparent;
  border-radius: 10px;
  color: white;
}

.image-main{
    width: 30%;
}

.text{
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.field-text{
 width: 80%;
 display: flex;
 flex-direction: column;
 margin: auto;
 font-size: 20px;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.title-main{
  color: #ff6a00;
  font-weight: 800;
}

.cards-section {
  width: 90%;
  margin: 80px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 0 20px;
}

.card {
  min-height: 80vh;
  background-color: #0B2A4A;
  border-radius: 16px;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
}

.price{
  color: #ff6a00;
  font-size: 20px;
  font-weight: 300;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.title-card{
  font-size: 20px;
  font-weight: 700;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.highlights-card{
  font-size: 17px;
  font-weight: 200;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.button-card{
  width: 100%;
  background-color: #ff6a00;
  padding: 15px;
  font-size: 15px;
  font-weight: 400;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: auto;
  border: 1px solid transparent;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

.button-card:hover{
  filter: brightness(1.25);
}