.container-header{
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #0B2A4A;
}

.logotipo{
    height: 100%;
}
.search{
    width: 40%;
    padding: 13px;
    margin: auto;
    border-radius: 7px;
    border: none;
}
.ButtonUser{
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    
}