.container-footer { 
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: #1c1c1c;
    padding: 40px;

}

.direction {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: #E24A17;
    margin: 5px;
}

.titleFooter{
    padding-bottom: 20px;
    font-size: 25px;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

